body{
    background-color: rgb(255, 142, 161);
   
    background-repeat: no-repeat;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}
  .text-overlay {
    position: absolute;
    top: 10%; 
    left: 36%; 
    color: white;
    padding: 10px 20px;
    font-size: x-large;
    text-align: center;
  }
  button{
    background-color: green;
    width: 100px;
  }