body{
    margin: 0;
    padding:20px;
    font-family: sans-serif;
    background-color: #f7f7f7;
}
.main-container{
background-color: #ffff;
box-sizing: border-box;
box-shadow: 0 0 10px rgba(0, 0, 0, .3);
max-width: 600px;
padding: 20px;
margin: 0 auto;
border-radius: 6px;
margin-top: 60px;
}
h1{
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    font-weight: bold;
    margin-bottom: 10px ;
}
input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}
#btn{
    margin-top: 15px;
    background-color: #007bff;
    color: #ffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3 ease;
}
#btn:hover{
    background-color: #0062cc;
}
#result{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}