body{
    margin: 0;
    padding: 0;
    font-family: 'open sans', sans-serif;
    text-align: center;
    background-color: antiquewhite;
}
h1{
    font-size: 3rem;
    margin-top: 2rem;
}
.box{
  font-size: 7rem;
  margin: 6px;
}
#roll-button{
    background-color: #4ac7f9;
    font-size: 1.5rem;
    padding: 1rem 2rem;
   border-radius: 1rem;
   color: #ffff;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s;
}

#roll-button:hover {
  background-color: #007193;
}
ul{
   list-style: none;
   padding: 0%;
   margin: 2rem auto;
   max-width: 600px;
}
li{
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    box-shadow: 0 2px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li span{
    font-size: 3rem;
    margin-right: 1rem;
}